<p id="notice"><%= notice %></p>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
</br>

    <div class="row no-gutters margin-row">
      <% @products.each do |product| %>
        <div class="col-4 card" style="width: 20rem;">
         <%= image_tag(product.image_url, class: "card-img-top mx-auto")  %>
          <div class="card-body">
            <h4 class="card-title"><%= product.name %></h4>
            <h5><%= product.price %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to 'View', product, class: "btn btn-primary" %>
            <% if product.user == current_user %>
              <%= link_to 'Edit', edit_product_path(product), class: "btn btn-success" %>
              <%= link_to 'Destroy', product, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= link_to 'Buy', new_charge_path(product_id: product.id), class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    
 
</br>
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>


